.DS_store
nbproject/
.idea
.project
.settings/
node_modules/
npm-debug.log
package-lock.json
cache/
apps/
dist/
debug/
release/
FINALLY/

# artefacts for Visual Studio Code
/.vscode/
FINALLY/emuflight-configurator-installer_10.4.4_win32.exe
FINALLY/emuflight-configurator-installer_10.4.4_win32.exe
